A:link     {color: #0033CC; background: transparent}
A:visited  {color: #0033CC; background: transparent}
A:active   {color: #0033CC; background: transparent}

body {
    font               : 8.65pt verdana, tahoma, arial;
    color              : #111;
    margin-left        : 0px;
    margin-top         : 0px;
    margin-right       : 0px;
    margin-bottom      : 0px;
    overflow-x         :hidden;
}

div.header{
    width              : 100%;
    height             : 62px;
    background-image   : url('images/fg_hp_sys_header_tile.png');
    background-repeat  : repeat-x;
}

h1{
    font               : 140% verdana, tahoma, arial;
    font-weight        : bold;
    margin-left        : 30px;
    text-shadow        : 0px 2px 3px #555;
}

h2{
    font               : 115% verdana, tahoma, arial;
    font-weight        : bold;
    margin-left        : 20px;
    margin-top         :  5px;
    margin-right       : 20px;
    margin-bottom      :  5px;
    text-shadow        :  0px 2px 3px #555;
}

div.content{
    width              : 100%;
    color              : #111;
    line-height        : 1.5 ;
    background-color   : #fff;
    padding            : 15px 20px 15px 25px; /*top right bottom left*/
    overflow-x         : auto;
}

div.copyright{
    width              : 100%;
    font               : 90% verdana, tahoma, arial;
    color              : gray;
    padding            : 10px 20px 10px 30px;
}

div.note{
    width              : 100%;
    border-left        : 2px solid #333;
    font               : 95% verdana, tahoma, arial;
    color              : #333;
    text-align         : left;
    vertical-align     : middle;
    padding            :  7px 10px 7px 5px;    /*top right bottom left*/
    margin             :  0px  0px 0px 3px;
}

TD.section_title {
    font               : 8.2pt Verdana;
    color              : #333;
    text-decoration    : none;
    padding            : 0px 5px 0px 5px;
}

.section {
    border             : 0px;
    background-color   : #eee;
    cursor             : pointer;
    font-weight        : bold;
    margin             : 0 0 0 0px;
    font-size          : 9.0pt;
    font-family        : Verdana;
    color              : black;
    padding-bottom     :  6px;
    width              : 100%;
}

.section_col {
    background-image   : url(images/fg_node_collapse.gif);
    background-repeat  : no-repeat;
    width              : auto;
    height             : auto;
    margin             : 0;
    padding            : 0;
}

.section_exp {
    background-image   : url(images/fg_node_expand.gif);
    background-repeat  : no-repeat;
    width              : auto;
    height             : auto;
    margin             : 0;
    padding            : 0;
}

p.small {
    color              : #333;
    text-align         : left;
    vertical-align     : middle;
    padding            :  0px  0px  0px 0px;    /*top right bottom left*/
    margin             : -1px  0px -1px 0px;
}