<!--
	Created by Tech_dog (VToropov) on 10-Jun-2016 at 0:38:42am, GMT+7, Phuket, Rawai, Friday;
	This is File Guardian Background Service Control HTML help page.
-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
	<link rel="stylesheet" type="text/css" href="__main.css" />
	<title>File Guardian Service Control</title>
<head>
<script  type="text/javascript" src="__main.js">
</script>
<body>
	<div class="header">
		<img src="./images/fg_hp_sys_header.png" />
	</div>

	<h1>Service Control</h1>

	<div class="content">

		<font color="navy">File Guardian</font> background service control includes monitoring current status of 
		the service and manual re-starting the service in cases 
		when changes in service settings cannot be applied dynamically.
		<p>
		The service control has two fields that shows current state of the service: setup status and current state.
		</p>
		After installation the service setup status must be <b>Installed</b> and current state is <b>the service is running</b>.
		
		<div class="section" id="fg_tab_svcsetup_0" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_svcsetup_0_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide service control picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_svcsetup_0_cnt" style="display:none">
			<img src="./images/fg_tab_svcsetup_0.png" alt="" border="0"/>
		</div>

		<h2>Setup Status</h2>		

		Actually, you do <b>not</b> need to manage a service installation: the service is always installed by setup program. 
		And the setup program uninstalls the service during removing <font color="navy">File Guardian</font> software 
		from a user computer.
		<p>
		But sometimes in very rare cases, you will need re-install the service. 
		For example, you want to stop permanently the service for some period of time and do not allow the service starts on 
		operating system startup. Uninstalling the service will solve this task.
		</p>
		<div class="note">
			Uninstalling service does not mean deleting a service binary file from a hard drive. It affects only service system 
			database.
		</div>
		<div class="section" id="fg_tab_svcsetup_1" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_svcsetup_1_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide uninstalled service picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_svcsetup_1_cnt" style="display:none">
			<img src="./images/fg_tab_svcsetup_1.png" alt="" border="0"/>
		</div>
		Next time when you decide to start the service, you need just to install the service again and to start it.

		<h2>Current State</h2>

		Usually, you concern current state of background service in cases when you are applying new settings. All settings which
		require service restart have a warning message, so you are able to easily determine a need in service restart.

		<p>
		You can restart the service in two steps:
			<UL>
				<LI>
					It is assumed the service is in running state at the moment of a restarting, otherwise, this step 
					is skipped.
					When restarting the service, you need to stop the service first. You can achieve that by clicking 
					<b>Stop</b> button. And you will get the service in stopped state.

					<div class="section" id="fg_tab_svcsetup_2" onclick="fn_on_sec_click(this.id)">
						<table border="0" cellpadding="0" cellspacing="0">
							<colgroup><col width="16px"/></colgroup>
							<tr>
								<td><div class="section_col" id="fg_tab_svcsetup_2_img">&nbsp;</div></td>
								<td class="section_title">Show/Hide stopped service picture</td>
							</tr>
						</table>
					</div>
					<div id="fg_tab_svcsetup_2_cnt" style="display:none">
						<img src="./images/fg_tab_svcsetup_2.png" alt="" border="0"/>
					</div>
				</LI>

				<LI>
					After stopping service, you can start it immediately by clicking <b>Start</b> button 
					and the service will return to initial state, i.e. <b>running</b>. During restart, the service 
					reads new settings and uses them.
				</LI>
			</UL>
		</p>

		<h2>Auto-check Service State</h2>

		It is useful option to dynamically update service current state. If this option is turned on, it periodically checks the 
		current state of the service. And when the service stops by some reason, the service state is updated. 
		For example, the service can be stopped by license manager and you will be able to notice that.
		<div class="note">
			You can safely to turn this option off. But when this option is off, sometimes, you will be able to see 
			a service transition state, for example, the service <b>is starting</b>. It can be a bit confusing.
		</div>
	</div>
	<div class="copyright">
		(c) 2016 Initec Co. All rights reserved.
	</div>
</body>
</html>