<!--
	Created by Tech_dog (VToropov) on 9-Jun-2016 at 7:56:44pm, GMT+7, Phuket, Rawai, Thursday;
	This is File Guardian Hot Key Assignment HTML help page.
-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
	<link rel="stylesheet" type="text/css" href="__main.css" />
	<title>File Guardian Hot Key Assignment</title>
<head>
<script  type="text/javascript" src="__main.js">
</script>
<body>
	<div class="header">
		<img src="./images/fg_hp_sys_header.png" />
	</div>

	<h1>Hot Keys</h1>

	<div class="content">
		The installer does not create any desktop shortcut to run File Guardian desktop UI application. 
		Thus, pressing hot keys is the only way to bring the application main window on the screen.

		<p>
			By default, hot keys are assigned to <b>Alt+0</b> key combination. But, you can to assign new hot keys 
			at any time, on this page.
		</p>

		<div class="section" id="fg_tab_general_1" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_general_1_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide hot key control picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_general_1_cnt" style="display:none">
			<img src="./images/fg_tab_general_1.png" alt="" border="0"/>
		</div>

		<h2>Assigning New Hot Keys</h2>

		Hot keys are a combination of modifier (control) key and alpha-numeric key. There are two drop down lists  
		that are used for specifying new hot key combination.

		<UL>
			<LI>
				In order to assign a modifier key, select one from <b>Modifiers</b> drop down list.

				<div class="section" id="fg_tab_general_2" onclick="fn_on_sec_click(this.id)">
					<table border="0" cellpadding="0" cellspacing="0">
						<colgroup><col width="16px"/></colgroup>
						<tr>
							<td><div class="section_col" id="fg_tab_general_2_img">&nbsp;</div></td>
							<td class="section_title">Show/Hide modifiers list picture</td>
						</tr>
					</table>
				</div>
				<div id="fg_tab_general_2_cnt" style="display:none">
					<img src="./images/fg_tab_general_2.png" alt="" border="0"/>
				</div>

			</LI>

			<LI>
				And to assign a alpha-numeric key, select one from <b>Key</b> drop down list.

				<div class="section" id="fg_tab_general_3" onclick="fn_on_sec_click(this.id)">
					<table border="0" cellpadding="0" cellspacing="0">
						<colgroup><col width="16px"/></colgroup>
						<tr>
							<td><div class="section_col" id="fg_tab_general_3_img">&nbsp;</div></td>
							<td class="section_title">Show/Hide modifiers list picture</td>
						</tr>
					</table>
				</div>
				<div id="fg_tab_general_3_cnt" style="display:none">
					<img src="./images/fg_tab_general_3.png" alt="" border="0"/>
				</div>

			</LI>
			<LI>
				Press <b>Save</b> button in order to save new hot keys. Settings are applied <b>immediately</b>.
			</LI>
		</UL>
	</div>
	<div class="copyright">
		(c) 2016 Initec Co. All rights reserved.
	</div>
</body>
</html>