<!--
	Created by Tech_dog (VToropov) on 10-Jun-2016 at 5:40:18am, GMT+7, Phuket, Rawai, Friday;
	This is File Guardian Removable Device Monitor HTML help page.
-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
	<link rel="stylesheet" type="text/css" href="__main.css" />
	<title>File Guardian Removable Device Monitor</title>
<head>
<script  type="text/javascript" src="__main.js">
</script>
<body>
	<div class="header">
		<img src="./images/fg_hp_sys_header.png" />
	</div>

	<h1>Monitoring Removable Device</h1>

	<div class="content">
		<font color="navy">File Guardian</font> can automatically handle such events as inserting or 
		removing portable media to or from a computer, 
		for example, USB flash memory stick or a flash drive.
		<p>
		It is <b>highly</b> recommended to have this option turned <b>on</b>, 
		because it is very possible that valuable information can be copied 
		to such portable devices.
		</p>
		The monitor option is controlled by <b>Auto-track removable devices</b> check box and it is turned <b>on</b> by default.

		<div class="section" id="fg_tab_svcsetup_9" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_svcsetup_9_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide auto-track option picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_svcsetup_9_cnt" style="display:none">
			<img src="./images/fg_tab_svcsetup_8.png" alt="" border="0"/>
		</div>

	</div>
	<div class="copyright">
		(c) 2016 Initec Co. All rights reserved.
	</div>
</body>
</html>