<!--
	Created by Tech_dog (VToropov) on 10-Jun-2016 at 3:21:33am, GMT+7, Phuket, Rawai, Friday;
	This is File Guardian watching folder list management HTML help page.
-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
	<link rel="stylesheet" type="text/css" href="__main.css" />
	<title>File Guardian Watching Folder List Management</title>
<head>
<script  type="text/javascript" src="__main.js">
</script>
<body>
	<div class="header">
		<img src="./images/fg_hp_sys_header.png" />
	</div>

	<h1>Watched Folders</h1>

	<div class="content">
		This group of UI controls is necessary to manage watching folder list, also known as a list of inclusions, as well as, 
		to maintain the list of exclusions.
		<p>
			These lists are very important because they define which file system objects (i.e. folders) the background service 
			watches for.
		</p>
		The next two sections show how to easy to maintain the lists.

		<anchor name="adding_folder"><h2>Adding Folder for Watching</h2></a>

		In order to add a folder for watching you need to perform the following steps:
		<UL>
			<LI>
				Type a full qualified path to the text field <b>Path to Folder</b>

				<div class="section" id="fg_tab_svcsetup_4" onclick="fn_on_sec_click(this.id)">
					<table border="0" cellpadding="0" cellspacing="0">
						<colgroup><col width="16px"/></colgroup>
						<tr>
							<td><div class="section_col" id="fg_tab_svcsetup_4_img">&nbsp;</div></td>
							<td class="section_title">Show/Hide folder path field picture</td>
						</tr>
					</table>
				</div>
				<div id="fg_tab_svcsetup_4_cnt" style="display:none">
					<img src="./images/fg_tab_svcsetup_4.png" alt="" border="0"/>
				</div>

				Or click <b>Browse</b> button.
				If you click the button, the system standard <b>Browse for Folder</b> dialog appears on the screen.

				<div class="section" id="fg_tab_svcsetup_3" onclick="fn_on_sec_click(this.id)">
					<table border="0" cellpadding="0" cellspacing="0">
						<colgroup><col width="16px"/></colgroup>
						<tr>
							<td><div class="section_col" id="fg_tab_svcsetup_3_img">&nbsp;</div></td>
							<td class="section_title">Show/Hide browse folder dialog picture</td>
						</tr>
					</table>
				</div>
				<div id="fg_tab_svcsetup_3_cnt" style="display:none">
					<img src="./images/fg_tab_svcsetup_3.png" alt="" border="0"/>
				</div>
				<div class="note">
					If the system standard <b>Browse for Folder</b> dialog does not show desired folder, 
					for example, system hidden folder, type this folder directly to path text box control.
				</div>
			</LI>
			<LI>
				After specified the path to watching folder, clock <b>Add to Watch</b> button in order to add new 
				path to the watching folder list.

				<div class="section" id="fg_tab_svcsetup_5" onclick="fn_on_sec_click(this.id)">
					<table border="0" cellpadding="0" cellspacing="0">
						<colgroup><col width="16px"/></colgroup>
						<tr>
							<td><div class="section_col" id="fg_tab_svcsetup_5_img">&nbsp;</div></td>
							<td class="section_title">Show/Hide [Add to Watch] button picture</td>
						</tr>
					</table>
				</div>
				<div id="fg_tab_svcsetup_5_cnt" style="display:none">
					<img src="./images/fg_tab_svcsetup_5.png" alt="" border="0"/>
				</div>
			</LI>
		</UL>
		After successfull adding new folder, it will be added to the list and is selected.

		<div class="section" id="fg_tab_svcsetup_6" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_svcsetup_6_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide new folder picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_svcsetup_6_cnt" style="display:none">
			<img src="./images/fg_tab_svcsetup_6.png" alt="" border="0"/>
		</div>


		if you try to add the same folder twise you will get an error, that will be shown in the status bar control.

		<div class="section" id="fg_tab_svcsetup_7" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_svcsetup_7_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide error message picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_svcsetup_7_cnt" style="display:none">
			<img src="./images/fg_statusbar_8.png" alt="" border="0"/>
		</div>

		<a name="excluding_folder"><h2>Excluding Folder from Watching</h2></a>

		Any folder can be excluded from the watching. The steps of adding a folder to exclusion list is almost the same as 
		adding a folder for watching:
		<UL>
			<LI>
				Type folder path directly to <b>Path to Folder</b> text box control, or click <b>Browse</b> button 
				in order to use system standard <b>Browse for Folder</b> dialog.
			</LI>
			<LI>
				Click <b>Exclude</b> button in order to add new folder to the list of exclusions.

			</LI>
			<LI>
				New folder will be added to the list. The status of the folder is <b>excluded</b>.
			</LI>
		</UL>

		<div class="section" id="fg_tab_svcsetup_8" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_svcsetup_8_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide excluded folder picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_svcsetup_8_cnt" style="display:none">
			<img src="./images/fg_tab_svcsetup_7.png" alt="" border="0"/>
		</div>
		
		<a name="deleting_folder"><h2>Deleting Folder from List</h2></a>

		The deleting any folder from the list is fairly easy process:
		<UL>
			<LI>
				Select a folder in the list.
			</LI>
			<LI>
				Click <b>Delete</b> button.
			</LI>
		</UL>
		<div class="note">
			Please be careful: there is no warning before deleting - the selected item is deleted immediately.
		</div>

		<h2>Refreshing Folder List</h2>

		In order to ensure that you have actual data in the list, you can click <b>Refresh</b> button. This button updates 
		the list content from the registry where the list is stored into.
	</div>
	<div class="copyright">
		(c) 2016 Initec Co. All rights reserved.
	</div>
</body>
</html>