<!--
	Created by Tech_dog (VToropov) on 9-Jun-2016 at 9:49:44pm, GMT+7, Phuket, Rawai, Thursday;
	This is File Guardian Password Setup HTML help page.
-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
	<link rel="stylesheet" type="text/css" href="__main.css" />
	<title>File Guardian Password Setup</title>
<head>
<script  type="text/javascript" src="__main.js">
</script>
<body>
	<div class="header">
		<img src="./images/fg_hp_sys_header.png" />
	</div>

	<h1>Password Protection</h1>

	<div class="content">
		<font color="navy">File Guardian</font> desktop UI application is protected by a password. 
		You need to provide correct password on 
		the application startup in order to open the main window, otherwise, you are not able to launch the desktop application.

		<div class="section" id="fg_tab_general_4" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_general_4_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide password dialog picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_general_4_cnt" style="display:none">
			<img src="./images/fg_get_started_0_pwd.png" alt="" border="0"/>
		</div>

		When you launch File Guardian first time a password is set to default value. The default password is received from the 
		software vendor during registration process.<br/>
		You may still use default password as long as you wish. 
		But, you can change the default password at any time by using this page.

		<div class="section" id="fg_tab_general_5" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_general_5_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide password setup picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_general_5_cnt" style="display:none">
			<img src="./images/fg_tab_general_4.png" alt="" border="0"/>
		</div>

		<h2>Password Setup</h2>

		You can change a password by the following steps:
		<UL>
			<LI>
				It is necessary to type the old correct password to <b>Old Password</b> text field. 
				If you do not know the old password (that is currently used) or forget it, 
				you cannot proceed with new password setup. Please contact the software vendor 
				<a href="http://thefileguardian.com" frame="_blank">support team</a> for assistance.
			</LI>
			<LI>
				Type new password to <b>New Password</b> text field.
				<div class="note">
					Please note, a password should match the following rules: 
					<br/>- a password is case sensitive;
					<br/>- it must contain not less than 6 characters;
					<br/>- leading and trailing spaces are truncated.
				</div>
			</LI>
			<LI>
				Re-type new password to <b>Confirmation</b> text field to insure that new password exactly matches 
				to what you think of.
			</LI>
			<LI>
				Press <b>Apply</b> button in order to activate new password.
			</LI>
		</UL>
		If new password has been applied <b>successfully</b>, you will see confirmation message in the status bar.

		<div class="section" id="fg_tab_general_6" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_general_6_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide password success picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_general_6_cnt" style="display:none">
			<img src="./images/fg_statusbar_6.png" alt="" border="0"/>
		</div>

		Otherwise, an error message is shown in the status bar control. 
		In the most cases, incorrect old password leads to error state of new password setup.

		<div class="section" id="fg_tab_general_7" onclick="fn_on_sec_click(this.id)">
			<table border="0" cellpadding="0" cellspacing="0">
				<colgroup><col width="16px"/></colgroup>
				<tr>
					<td><div class="section_col" id="fg_tab_general_7_img">&nbsp;</div></td>
					<td class="section_title">Show/Hide password failure picture</td>
				</tr>
			</table>
		</div>
		<div id="fg_tab_general_7_cnt" style="display:none">
			<img src="./images/fg_statusbar_7.png" alt="" border="0"/>
		</div>
	</div>
	<div class="copyright">
		(c) 2016 Initec Co. All rights reserved.
	</div>
</body>
</html>