/*
A:link     {color: #4799c8; background: transparent; text-decoration:none; text-shadow: 1px 1px 3px #ccc;}
A:visited  {color: #4799c8; background: transparent; text-decoration:none; text-shadow: 1px 1px 3px #ccc;}
A:active   {color: #4799c8; background: transparent; text-decoration:none; text-shadow: 1px 1px 3px #ccc;}
*/

a.Added:link        {color: #002850;}
a.Added:visited     {color: #002850;}
a.Added:active      {color: #002850;}

a.Deleted:link      {color: #850B0B; background: transparent; }
a.Deleted:visited   {color: #850B0B; background: transparent; }
a.Deleted:active    {color: #850B0B; background: transparent; }

a.Modified:link     {color: #3c3c3c; background: transparent; }
a.Modified:visited  {color: #3c3c3c; background: transparent; }
a.Modified:active   {color: #3c3c3c; background: transparent; }

a.Renamed:link      {color: #4c013d; background: transparent; }
a.Renamed:visited   {color: #4c013d; background: transparent; }
a.Renamed:active    {color: #4c013d; background: transparent; }

a.Copied:link       {color: #111111; background: transparent; }
a.Copied:visited    {color: #111111; background: transparent; }
a.Copied:active     {color: #111111; background: transparent; }

a.Options:link      {color: #4799c8;}
a.Options:visited   {color: #4799c8;}
a.Options:active    {color: #4799c8;}

body {
    font               : 8.65pt verdana, tahoma, arial;
    background-color   : #f5f5f5;
    color              : #111;
    margin-left        :  7px;
    margin-top         :  3px;
    margin-right       :  7px;
    margin-bottom      :  3px;
    overflow-x         : none;
    overflow-y         : none;
}

.rpt_page_container {
    font-weight        : normal;
    font-size          : 13px;
    font-family        :'Trebuchet MS';
    text-decoration    : none;
    text-align         : center;
    vertical-align     : middle;
}

.cls_bluecolor {
    background-image   : url("fg_footer_blu.png" );
    background-repeat  : repeat-x;
    padding            : 0 0 10 0px;
}

.cls_greencolor {
    background-image   : url("fg_footer_grn.png" );
    background-repeat  : repeat-x;
    padding            : 0 0 10 0px;
    vertical-align     : middle;
}

.cls_redcolor {
    background-image   : url("fg_footer_red.png" );
    background-repeat  : repeat-x;
    padding            : 0 0 10 0px;
    vertical-align     : middle;
}

.cls_indcolor {
    background-image   : url("fg_footer_ind.png" );
    background-repeat  : repeat-x;
    padding            : 0 0 10 0px;
    vertical-align     : middle;
}

.cls_yelcolor {
    background-image   : url("fg_footer_yel.png" );
    background-repeat  : repeat-x;
    padding            : 0 0 10 0px;
    vertical-align     : middle;
}

.cls_yelcolor-end {
    background-image   : url("fg_footer_end.png" );
    background-repeat  : repeat-x;
    padding            : 0 0 10 0px;
    vertical-align     : middle;
}